---
import Header from "../../components/Header.astro";
import SideMenu from "../../components/SideMenu.astro";
import Layout from "../../layouts/Layout.astro";
import MainColumn from "../../layouts/MainColumn.astro";
---

<Layout title="Download | Zerolines.js" active="Download">
  <Header />
  <div class="max-w-screen-lg mx-auto lg:flex lg:space-x-12 py-12">
    <SideMenu active="Download" />
    <MainColumn title="Download">
      <div class="space-y-12">
        <p class="">
          Download Zerolines.js to get the compiled JavaScript and Core CSS
          file.
        </p>
        <div class="space-y-6">
          <h4 class="text-gray-900 font-bold text-2xl">Compiled JS and CSS</h4>
          <p>
            Download ready-to-use compiled code for <strong
              class="text-gray-900">Zerolines.js v0.1.1</strong
            >. Both JS and CSS files are required to work properly(CSS file is
            used for animations and other transitions).
          </p>
          <div>
            <a
              href="https://github.com/shoyu777/zerolinesjs/releases/download/0.1.1/zerolinesjs-0.1.1.zip"
              class="w-40 transition hover:-translate-y-1 flex justify-center items-center space-x-2 border-2 border-gray-900 bg-gray-900 text-white rounded px-6 py-2"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3"
                ></path>
              </svg>
              <span>Download</span>
            </a>
          </div>
        </div>
        <div class="space-y-6">
          <h4 class="text-gray-900 font-bold text-2xl">CDN via jsDelivr</h4>
          <p>
            You can get from CDN cached version. Copy the below <strong
              class="text-gray-900 font-bold">both</strong
            > links and paste it to <code>&lt;head&gt;</code> tag.
          </p>
          <pre><code class="language-html rounded-lg">&lt;script src=&quot;https://cdn.jsdelivr.net/npm/zerolinesjs@0.1.1/dist/index.js&quot; &gt;&lt;/script&gt;
&lt;link href=&quot;https://cdn.jsdelivr.net/npm/zerolinesjs@0.1.1/dist/core.min.css&quot; rel=&quot;stylesheet&quot; /&gt;
</code></pre>
        </div>
      </div>
    </MainColumn>
  </div>
</Layout>
