---
import Header from "../../components/Header.astro";
import SideMenu from "../../components/SideMenu.astro";
import Layout from "../../layouts/Layout.astro";
import MainColumn from "../../layouts/MainColumn.astro";
---

<Layout title="Welcome to Astro.">
  <Header />
  <div class="max-w-screen-lg mx-auto lg:flex lg:space-x-12 py-12">
    <SideMenu active="License" />
    <MainColumn title="License">
      <p class="text-gray-500">
        Zerolines.js is released under the MIT license.
      </p>
    </MainColumn>
  </div>
</Layout>
