---
---

<div>
  <div
    class="w-full h-40 rounded-lg bg-gray-50 flex justify-center items-center mb-6"
  >
    <p class="text-gray-500">Above tabs are working by below code.</p>
  </div>
  <pre><code class="language-html rounded-lg">&lt;div data-zl=&quot;tab-list&quot;&gt;
  &lt;button type=&quot;button&quot; data-zl=&quot;tab-item target-[#tab1] default active-style-[active]&quot;&gt;
    Tab 1
  &lt;/button&gt;
  &lt;button type=&quot;button&quot; data-zl=&quot;tab-item target-[#tab2] active-style-[active]&quot;&gt;
    Tab 2
  &lt;/button&gt;
&lt;/div&gt;
&lt;div id=&quot;tab1&quot;&gt;
  &lt;!-- Tab1 Content Here --&gt;
&lt;/div&gt;
&lt;div id=&quot;tab2&quot; zl-cloak&gt;
  &lt;!-- Tab2 Content Here --&gt;
&lt;/div&gt;</code></pre>
</div>
