---
---

<footer class="w-full h-20 bg-gray-50 flex justify-center items-center">
  <div
    class="text-gray-500 text-sm flex flex-wrap items-center justify-center space-x-2"
  >
    <p>© 2022</p><span class="text-gray-300">/</span>
    <p>
      Released under <a
        href="https://github.com/shoyu777/zerolinesjs/blob/main/LICENSE"
        target="_blank"
        class="underline hover:text-gray-900">MIT</a
      > License
    </p><span class="text-gray-300">/</span>
    <a
      href="https://github.com/shoyu777/zerolinesjs"
      class="underline hover:text-gray-900"
      target="_blank">Github</a
    ><span class="text-gray-300">/</span>
    <a
      href="https://twitter.com/40yd_app_en"
      class="underline hover:text-gray-900"
      target="_blank">Twitter</a
    >
  </div>
</footer>
