---
---

<footer class="w-full h-20 bg-gray-50 flex justify-center items-center">
  <div
    class="text-gray-500 text-sm flex flex-wrap items-center justify-center space-x-2"
  >
    <p>© 2022</p><span class="text-gray-300">/</span>
    <p>Released under <a href="#" class="underline">MIT</a> License</p><span
      class="text-gray-300">/</span
    >
    <a href="#" class="underline">Github</a><span class="text-gray-300">/</span>
    <a href="#" class="underline">Twitter</a>
  </div>
</footer>
