---
import MainColumn from "../layouts/MainColumn.astro";
---

<MainColumn title="Quick Start">
  <p class="text-gray-500">
    Zerolines.js is a headless UI library for writing Zero lines of JavaScript
    Code. You only need attaching behavior in your HTML element, then the
    element works as is.
  </p>
  <ul class="">
    <li>
      You don't need to prepare Simple JS script for common components such as
      Modal, Tab, DropDown Menu, etc.
    </li>
    <li>
      You don't need to prepare Simple JS script for common components such as
      Modal, Tab, DropDown Menu, etc.
    </li>
    <li>
      You don't need to prepare Simple JS script for common components such as
      Modal, Tab, DropDown Menu, etc.
    </li>
    <li>
      You don't need to prepare Simple JS script for common components such as
      Modal, Tab, DropDown Menu, etc.
    </li>
    <li>
      You don't need to prepare Simple JS script for common components such as
      Modal, Tab, DropDown Menu, etc.
    </li>
    <li>
      You don't need to prepare Simple JS script for common components such as
      Modal, Tab, DropDown Menu, etc.
    </li>
    <li>
      You don't need to prepare Simple JS script for common components such as
      Modal, Tab, DropDown Menu, etc.
    </li>
    <li>
      You don't need to prepare Simple JS script for common components such as
      Modal, Tab, DropDown Menu, etc.
    </li>
    <li>
      You don't need to prepare Simple JS script for common components such as
      Modal, Tab, DropDown Menu, etc.
    </li>
    <li>
      You don't need to prepare Simple JS script for common components such as
      Modal, Tab, DropDown Menu, etc.
    </li>
    <li>
      You don't need to prepare Simple JS script for common components such as
      Modal, Tab, DropDown Menu, etc.
    </li>
    <li>
      You don't need to prepare Simple JS script for common components such as
      Modal, Tab, DropDown Menu, etc.
    </li>
    <li>
      You don't need to prepare Simple JS script for common components such as
      Modal, Tab, DropDown Menu, etc.
    </li>
    <li>
      You don't need to prepare Simple JS script for common components such as
      Modal, Tab, DropDown Menu, etc.
    </li>
    <li>
      You don't need to prepare Simple JS script for common components such as
      Modal, Tab, DropDown Menu, etc.
    </li>
  </ul>
</MainColumn>
