---
import SideMenuContent from "./SideMenuContent.astro";

export interface Props {
  active: string;
}

const { active } = Astro.props;
---

<aside class="hidden lg:block shrink-0 w-72">
  <div class="sticky top-6 bg-gray-50 rounded-lg p-4 space-y-10">
    <SideMenuContent active={active} />
  </div>
</aside>
